<!DOCTYPE html>
<html>
  <head>
    <title>Thrifty</title>
    <meta name="description" content="Freedom via fiscal responsibility.">
    <%- include(views + '/shared/head.html.ejs') %>
  </head>
  <body>
    <header class="mt-3">
      <h1 class="text-center">Thrifty</h1>
    </header>

    <main class="container mt-5">
      <table class="table table-sm">
        <thead>
          <tr>
            <th width="200px;"></th>
            <th width="120px;">
              <span class="pull-right">Amount</span>
            </th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <% for (let i=0; i < cashflows.length; i++) { %>
            <tr>
              <td>
              <td <% if (cashflows[i].amount < 0) { %>class="text-danger"<% } %>>
                <b><span class="pull-right">$ <%- cashflows[i].amount %></span></b>
              </td>
              <td><%- cashflows[i].description %></td>
            </tr>
          <% } %>

          <tr>
            <td>
              <b><span class="pull-right">Total Inflow:</span></b>
            </td>
            <td>
              <span class="pull-right">$ <%- total_inflow %>/mo</span>
            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              <b><span class="pull-right">Total Outflow:</span></b>
            </td>
            <td>
              <span class="pull-right text-danger">-$ <%- total_outflow %>/mo</span>
            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              <b><span class="pull-right">Netflow:</span></b>
            </td>
            <td>
              <b><span class="pull-right">$ <%- netflow %>/mo</span></b>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </main>

    <hr/>

    <footer class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <h4>New Cashflow Form</h4>

          <form action="/cashflows" method="post" class="text-center">
            <div class="form-group">
              <input id="cashflows-amount"
                     type="number"
                     name="amount"
                     placeholder="Amount"
                     class="form-control"></input>
            </div>
            <div class="form-group">
              <input id="cashflows-description"
                     type="text"
                     name="description"
                     placeholder="Description"
                     class="form-control"></input>
            </div>
            <button type="submit"
                    class="btn btn-lg btn-light"
                    style="cursor:pointer;">
                    <i class="fa fa-plus"></i>
            </button>
          </form>

        </div>
      </div>
    </footer>
  </body>
</html>
