<!DOCTYPE html>
<html>
  <head>
    <title>Thrifty</title>
    <meta name="description" content="Freedom via fiscal responsibility.">
    <%- include(views + '/shared/_head.html.ejs') %>
  </head>
  <body>
    <header class="mt-3">
      <h1 class="text-center">Thrifty</h1>
    </header>

    <main class="container mt-5">
      <section>
        <div class="text-center my-5">
          <h3 id="balance" onclick="show_balance_form()" style="cursor:pointer;">
            Balance: <i class="fas fa-dollar-sign"></i> <%- user.balance %><br/>
            <small class="text-muted">
              (user.balance / total_outflow ) =
              <% if (months_left) { %>
                <%- months_left %> months
              <% } else { %>
                0 months
              <% } %>
            </small>
          </h3>

          <form action="/users/<%- user.id %>" method="post"
                id="balance-form"
                class="form form-inline"
                style="display:none;">
            <input type="number"
                   name="balance"
                   value="<%- user.balance %>"
                   step="0.01"
                   class="form-control"
                   autofocus></input>
            <button type="submit" class="btn btn-md btn-light" style="cursor:pointer;">Update</button>
          </form>
        </div>
      </section>

      <section>
        <table class="table table-sm">
          <thead>
            <tr>
              <th width="120px;"></th>
              <th width="170px;">
                <span class="pull-right">Amount</span>
              </th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% for (let i=0; i < cashflows.length; i++) { %>
              <tr>
                <td>
                <td <% if (cashflows[i].amount < 0) { %>class="text-danger"<% } %>>
                  <span class="pull-right">
                    <i class="fas fa-dollar-sign"></i>
                    <%- cashflows[i].amount %>
                  </span>
                </td>
                <td><%- cashflows[i].description %></td>
                <td width="50px;" class="text-muted">
                  <button type="button"
                          onclick="remove_cashflow(<%- cashflows[i].id %>);"
                          class="btn btn-sm btn-link"
                          style="color:#DDD;cursor:pointer;">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
              </tr>
            <% } %>

            <tr>
              <td>
                <b><span class="pull-right">Total Inflow:</span></b>
              </td>
              <td>
                <span class="pull-right">
                  <i class="fas fa-dollar-sign"></i>
                  <% if (user.currency == 0) { %>
                    <%- total_inflow.toFixed(5) %> /mo
                  <% } else { %>
                    <%- total_inflow.toFixed(2) %> /mo
                  <% } %>
                </span>
              </td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>
                <b><span class="pull-right">Total Outflow:</span></b>
              </td>
              <td>
                <span class="pull-right text-danger">
                  <i class="fas fa-dollar-sign"></i>
                  <% if (user.currency == 0) { %>
                    <%- total_outflow.toFixed(5) %> /mo
                  <% } else { %>
                    <%- total_outflow.toFixed(2) %> /mo
                  <% } %>
                </span>
              </td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>
                <b><span class="pull-right">Netflow:</span></b>
              </td>
              <td>
                <b>
                  <span class="pull-right <% if (netflow < 0) { %>text-danger<% } %>">
                    <i class="fas fa-dollar-sign"></i>
                    <% if (user.currency == 0) { %>
                      <%- netflow.toFixed(5) %> /mo
                    <% } else { %>
                      <%- netflow.toFixed(2) %> /mo
                    <% } %>
                  </span>
                </b>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <hr/>

    <footer class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <h4 class="text-center">
            New Cashflow Form<br/>
            <small class="text-muted">
              in <i class="fas fa-dollar-sign"></i> per month
            </small>
          </h4>

          <form action="/cashflows" method="post" class="text-center">
            <div class="form-group">
              <input id="cashflows-amount"
                     type="number"
                     name="amount"
                     step="0.00001"
                     placeholder="Amount"
                     class="form-control"></input>
            </div>
            <div class="form-group">
              <input id="cashflows-description"
                     type="text"
                     name="description"
                     placeholder="Description"
                     class="form-control"></input>
            </div>
            <button type="submit"
                    class="btn btn-lg btn-light"
                    style="cursor:pointer;">
                    <i class="fa fa-plus"></i>
            </button>
          </form>

        </div>
      </div>
    </footer>
  </body>

  <script>
    function remove_cashflow(id) {
      let req = new XMLHttpRequest()
      req.onreadystatechange = () => {
        if (req.readyState === XMLHttpRequest.DONE) {
          window.location.reload(true)
        }
      }
      req.open("DELETE", `/cashflows/` + id)
      req.send()
    }
  </script>

  <script>
    function show_balance_form() {
      let h3 = document.getElementById('balance')
      let form = document.getElementById('balance-form')
      h3.style.display = 'none'
      form.style.display = 'block'
    }
  </script>
</html>
